:root {
    scroll-behavior: smooth;
}

body {
    /*min-width: 320;*/
    margin: auto;
}

h1{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    color: #1b0914;
    line-height: 1.4375;
    text-align: left;
}

h2{
    text-align: center;
    font-size: 34px;
    font-family: 'Oswald',sans-serif;
    color: #1b0914;
    line-height: 1.1;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 0 0;
}

h3{
    font-size: 26px;
    font-family: 'Oswald',sans-serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
    font-style: normal;
    color: #1b0914;
}

p{
    font-size: 20px;
    font-family: 'Laila', serif;
    line-height: 1.5;
    font-style: normal;
    color: #6c223a;
    letter-spacing: 0;
    font-weight: normal;
}