.navbar-holder {
    background: rgb(33, 37, 41); /* Ensure valid CSS syntax for RGB */
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar-holder .container-fluid {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none; /* Removes bullets */
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
}

.nav-item {
    padding: 0 10px; /* Adds horizontal padding between items */
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.user-container {
    display: flex;
    align-items: center;
}

.navbar-holder span{
    color: aliceblue;
}

header > .header a{
    font-size: 18px;
    font-family: 'Laila',serif;
    color: #ffffff;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
}