/*Cart block*/
.cart {
    align-items: center;
    background-color: #f8f9fa;
}

.cart > .cart-block {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.cart-container {
    display: flex; /* Set the container to flex to align children side by side */
    align-items: center; /* Align children vertically in the center */
    padding: 10px;
    border-radius: 5px;
    background-color: #fff; /* Optional: Added for better visibility */
    position: relative; /* Set relative positioning context for absolute children */
}

.cart-container .cart-text-block {
    flex-grow: 1; /* Takes up remaining space */
    margin-right: 10px; /* Optional: Add some space between the text and button */
}

.cart-container .cart-btn-block {
    flex-shrink: 0; /* Prevents the button block from shrinking */
}

.cart-container p, .cart-container button {
    margin: 5px 0;
}

.book-overlay {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    bottom: 0; /* Position at the bottom of cart-container */
    left: 0; /* Position at the left of cart-container */
    width: 1152px;
    z-index: 100; /* Ensure it sits above other content */
    transform: translateY(100%); /* Move overlay below the container */
    display: none; /* Initially hidden */
}

.book-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-item img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.book-info {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.book-info .book_name {
    font-weight: bold;
}

.book-price {
    white-space: nowrap;
}

#item-count:hover + #book-overlay {
    display: block;
}

.close-btn {
    padding: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.close-btn:hover {
    color: red;
}

/**/



/*Аdvertisement block*/
.advertisement > .advertisement-block > .advertisement-text > h2 {
    text-align: center;
    margin: 0 0 0 0;
}

.advertisement > .advertisement-block > .advertisement-text > p {
    text-align: center;
    margin: 25px 0 0 0;
}

.advertisement > .advertisement-block {
    padding-left: 24px;
    padding-right: 24px;
}

.advertisement {
    align-items: center;
}

.advertisement > .advertisement-block > .advertisement-button > .advertisement-button-block {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.advertisement > .advertisement-block > .advertisement-button {
    margin-top: 50px;
}

@media (min-width: 770px) {
    .advertisement > .advertisement-block {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .advertisement {
        align-items: center;
    }
}

@media (min-width: 990px) {
    .advertisement > .advertisement-block {
        padding-left: 100px;
        padding-right: 100px;
    }

    .advertisement {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1280px) {
    .advertisement > .advertisement-block {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
/**/



/*!!!What Can You Do block*/
p.p-can-do  {
    color:#fff4e9;
    margin-top: 20px;
}

h3.h-can-do{
    color:#ffffff;
    margin: 0 0 0 0;
}

.wcyd > .wcyd-container > .container .wcyd-card > .enjoy-sad{
    background: no-repeat center /auto 100% url(/img/what-you-can-do/coffee-break.png);
}

.wcyd > .wcyd-container > .container .wcyd-card > .communicate{
    background: no-repeat center /auto 100% url(/img/what-you-can-do/business-meeting.png);
}

.wcyd > .wcyd-container > .container .wcyd-card > .work{
    background: no-repeat center /auto 100% url(/img/what-you-can-do/working-table.png);
}

.wcyd > .wcyd-container > .container .wcyd-card > .wcyd-body{
    background-color: #ffffff;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.wcyd > .wcyd-container > .container .wcyd-card{
    text-align: center;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.wcyd > .wcyd-container > .container > .row{
    display: grid;
    grid-template-columns: 1fr;
}

.wcyd > .wcyd-container > .container{
    margin-top: 45px;
    padding: 0 0 0 0;
    max-width: 1200px;
}

.wcyd > .wcyd-container > .wcyd-header{
    text-align: center;
}

.wcyd > .wcyd-container{
    padding-left: 24px;
    padding-right: 24px;
}

.wcyd {
    align-items: center;
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #fff4e9;
}

@media (min-width: 500px) {
    .wcyd > .wcyd-container > .container .wcyd-card > .enjoy-sad{
        background: no-repeat center /100% auto url(/img/what-you-can-do/coffee-break.png);
    }
    
    .wcyd > .wcyd-container > .container .wcyd-card > .communicate{
        background: no-repeat center /100% auto url(/img/what-you-can-do/business-meeting.png);
    }
    
    .wcyd > .wcyd-container > .container .wcyd-card > .work{
        background: no-repeat center /100% auto url(/img/what-you-can-do/working-table.png);
    }
}

@media (min-width: 770px) {
    .wcyd > .wcyd-container > .container .wcyd-card > .enjoy-sad{
        background: no-repeat center /auto 100% url(/img/what-you-can-do/coffee-break.png);
    }
    
    .wcyd > .wcyd-container > .container .wcyd-card > .communicate{
        background: no-repeat center /auto 100% url(/img/what-you-can-do/business-meeting.png);
    }
    
    .wcyd > .wcyd-container > .container .wcyd-card > .work{
        background: no-repeat center /auto 100% url(/img/what-you-can-do/working-table.png);
    }

    .wcyd > .wcyd-container > .container > .row > .wcyd-card > .wcyd-body{
        min-height: 280px;
    }

    .wcyd > .wcyd-container > .container > .row > .wcyd-card{
        width: 40%;
    }

    .wcyd > .wcyd-container > .container > .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wcyd > .wcyd-container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .wcyd {
        padding-top: 80px;
        padding-bottom: 90px;
    }
}

@media (min-width: 990px) {
    .wcyd > .wcyd-container > .container > .row > .wcyd-card{
        width: 30%;
    }

    .wcyd > .wcyd-container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .wcyd {
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .wcyd > .wcyd-container > .container > .row > .wcyd-card{
        padding-top: auto;
        padding-bottom: auto;
    }
    
    .wcyd > .wcyd-container > .container{
        margin-left: auto;
        margin-right: auto;
    }

    .wcyd > .wcyd-container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .wcyd {
        align-items: center;
        padding-top: 90px;
        padding-bottom: 100px;
        
    }
}
/**/



/*Form block*/

.form > .form-container > .form-block > .form-to-fill > button{
    margin-top: 50px;
    width: 100%;
}

.form > .form-container > .form-block > .form-to-fill > .form-holder > input[type=text]{
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
    border: 0px;
}

.form > .form-container > .form-block > .form-to-fill > .form-holder{
    margin-top: 30px;
}

.form > .form-container .form-block > p{
    color: white;
    margin-top: 25px;
}

.form > .form-container > .form-block{
    padding: 40px;
    text-align: center;
    max-width: 570px;
    background: white;
}

.form > .form-container{
    padding-left: 24px;
    padding-right: 24px;
}

.form{
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient( rgba(102, 65, 107, 0.6),rgba(102, 65, 107, 0.6)), url(../img/form/city.jpeg);
}

@media (min-width: 770px) {
    .form > .form-container > .form-block{
        margin-left: auto;
        margin-right: auto;
    }

    .form > .form-container > .form-block{
        padding: 45px 60px;
    }
    .form > .form-container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .form{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (min-width: 990px) {
    .form > .form-container > .form-block{
        padding: 60px 85px;
    }
    .form > .form-container{
        padding-left: 40px;
        padding-right: 40px;
        
    }
}   
                   
@media (min-width: 1280px) {
    .form > .form-container{
        padding-left: 15px;
        padding-right: 15px;
        
    }
}
/**/



/*Footer block*/
@media (min-width: 770px){
    .footer {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .footer-list {
        margin-top: 0px;
    }
    .footer-list a{
        text-align: left;
        margin: auto;
    }

}
.footer-list a{
    color: rgb(255, 255, 255);
    font-size: 21px;
    display: table;
    text-decoration:none;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.footer {
    display: grid;
    background-color: #1b0914;
    padding: 20px 24px 30px;
}
.footer h1{
    color: rgb(255, 255, 255);
    text-align: center;

}
.footer-list {
    text-decoration:none;
    margin-top: 50px;
    padding: 0px 15px;
}
.footer-email {
    border-top-width: 54px;
    padding: 0px 15px;
    margin-top: 50px;
    margin: auto;
}
.footer-email p{
    color: #C2C2C2;
    text-align: center;
}
.footer-email input{
    padding: 15px 26px;
    text-align: center;
    background-color: #ffffff24;
    border: 0px;
    width: 100%;
}
.footer-email-button {
    margin-top: 20px;
}
.footer-email button{
    margin: 35px 0px 0px;
    width: 100%;
}